@import url('groups.css');

@media screen and (max-width: 500px) {
	div.event-input-div {
		width: 100%;
	}
	#activity-form div.event-input-div > label {
		font-size: 14px;
	}
	div.container-fluid.split {
		padding: 10px 0;
	}
	div#friendList-div {
		flex-direction: column;
		align-items: center;
	}
	div.selected-user-div {
		flex-direction: column;
		align-items: center;
	}
	div#groups-div {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	div.user-amount-container {
		padding: 0;
	}
}

#added-friends-div {
	padding: 10px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.summary-div {
	height: 100%;
}

#activity-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

#activity-form div > input {
	width: 200px;
	padding: 5px;
	border: none;
	border-bottom: solid 2px black;
	background-color: inherit;
}

#activity-form div > label {
	font-size: 25px;
	padding-right: 5px;
	font-weight: bold;
}

.event-input-div {
	width: 400px;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.container-fluid.split {
	padding: 20px;
}

#paid-by-div {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	align-items: baseline;
}

.container-split-method {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.split-method-div {
	margin: 0 5px;
}

.split-method {
	display: none;
}

.container-fluid.users-amount {
	margin-top: 15px;
	border: 2px solid orange;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.selected-user-div {
	display: flex;
	justify-content: center;
	padding: 30px 20px;
	align-items: baseline;
}

.method-btn {
	border: 1px solid orange;
	padding: 8px;
	border-radius: 20px;
}

.method-btn:hover {
	background-color: orange;
	color: white;
	box-shadow: inset -1px -1px 3px black;
}

.split-method:checked + span {
	background-color: orange;
	color: white;
	box-shadow: inset 1px 1px 3px black;
}

#denominator {
	border: none;
	border-bottom: 2px solid black;
	width: 50px;
}

.form-select {
	width: 130px;
	margin-left: 10px;
}

.submit-btn-div {
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

.user-amount-container {
	padding: 0 150px;
}

#friendList-div {
	display: flex;
	flex-wrap: wrap;
}

#selected-friends-div {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.selected-name {
	padding: 3px 8px;
	margin: 3px;
	box-shadow: inset 0px 0px 1px blue;
	border-radius: 30px;
	color: white;
	background-color: rgb(47, 135, 150);
}

.selected-group {
	padding: 3px 8px;
	margin: 3px;
	box-shadow: inset 0px 0px 1px blue;
	border-radius: 30px;
	color: white;
	background-color: rgb(8, 121, 57);
}

#add-friends {
	font-size: 20px;
	color: black;
	background-color: #ffe7a2;
	border-radius: 10px;
}

.selected-input-div {
	display: flex;
}

.friend-input,
.group-input {
	display: none;
}

.friend-name:hover {
	background-color: #308796;
	box-shadow: inset 1px 1px 3px black;
}

.group-name:hover {
	background-color: #097939;
	box-shadow: inset 1px 1px 3px black;
}

.friend-input:checked + span {
	background-color: #308796;
	box-shadow: inset 1px 1px 3px black;
}

.group-input:checked + span {
	background-color: #097939;
	box-shadow: inset 1px 1px 3px black;
}

.friend-name {
	background-color: #3087968f;
}

.group-name {
	background-color: #0f872182;
}

.friend-name,
.group-name {
	color: white;
	border: 2px solid black;
	text-align: center;
	margin: 5px;
	border-radius: 20px;
	padding: 5px;
	width: 200px;
	display: block;
	box-shadow: inset -1px -1px 3px black;
}

#groups-div {
	display: flex;
	flex-wrap: wrap;
}

.modal-body {
	overflow-y: auto;
	overflow-x: hidden;
}

.select-type {
	display: none;
}

.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft {
	--animate-duration: 0.3s;
}

.alert {
	display: flex;
	justify-content: space-between;
}
