.event-detail {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.event-payment-detail {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

#settled {
	font-weight: bold;
	bottom: 5px;
	right: 10px;
	padding: 2px 5px;
	box-shadow: 0 0 2px black;
	border-radius: 10px;
	border: 1px dashed black;
	background-color: rgba(128, 128, 128, 0.573);
	text-align: center;
}

.profile-pic {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: inline-block;
}

.settle {
	background-color: rgba(168, 214, 198, 0.806);
	box-shadow: 0 0 5px rgb(4, 117, 15);
	margin: 20px;
}

.not-settle {
	background-color: rgba(199, 145, 145, 0.831);
	box-shadow: 0 0 5px rgb(167, 29, 29);
	margin: 20px;
}
