@import url('home.css');

.container-fluid.history {
	margin-top: 20px;
}

.filter-div {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.filter-div div:first-child {
	display: flex;
	align-items: baseline;
}

.history-detail-div {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.events-amount-div {
	display: flex;
	align-items: flex-end;
}

.history-div > hr {
	margin-top: 5px;
}

.events-info > p > a{
	color: rgb(156, 13, 13);
}

.events-location > a {
	color: black;
}

.trans-info {
	display: inline-block;
	margin: 0;
}

.pending-request {
	display: inline-block;
}

@media screen and (max-width: 800px) {
	div.history-detail-div {
		flex-direction: column;
	}
	p.trans-info {
		display: block;
	}
	form.pending-request {
		display: block;
	}
	div.events-info{
		flex-direction: column;
	}
	.events-location{
		padding-bottom: 13px;
	}
	button.pending-btn{
		margin: 2px 0;
	}
}

.events-info{
	display: flex;
}

.events-info > p{
	margin:  0;
}

.events-info > p:first-child{
	font-weight: bold;
}

.events-date > span:first-child{
	font-weight: bold;
}

.events-location > span:first-child{
	font-weight: bold;
}

.invisible {
	display: none;
}

.pending-btn{
	border-radius: 50%;
	border: none;
	color: white;
	margin-left: 5px;
}

#accept:hover {
	background-color: rgb(6, 183, 100);
	box-shadow: inset 1px 1px 2px rgb(1, 78, 1);
}

#reject:hover {
	background-color: rgb(194, 6, 6);
	box-shadow: inset 1px 1px 2px brown;
}

#accept{
	background-color: rgba(51, 185, 122, 0.781);
	box-shadow: inset 0px 0px 1px rgb(1, 78, 1);
}

#reject{
	background-color: rgba(189, 39, 39, 0.813);
	box-shadow: inset 0px 0px 1px brown;
}