@import url('sign.css');

.main-block {
	justify-content: flex-start;
}

.container-fluid.member {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav .container-fluid{
	border-bottom: 3px black double;
	border-top: 3px black double;
}

.member-profile {
	display: flex;
	align-items: flex-end;
}

.greet-div {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

#greet-box{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.member-pic-div {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid black;
	overflow: hidden;
	background-color: white;
}

h3{
	font-family: 'Anton', sans-serif;
}

h2#greet{
	font-family: 'Poltawski Nowy', sans-serif;
	font-style: italic;
}

h2#greet-user{
	font-family: 'Poltawski Nowy', sans-serif;
	font-weight: bold;
}

h4{
	font-family: 'Jost';
	font-weight: 600;
}

.userdata-div {
	padding: 20px 100px;
}

.userdata-div > h4 {
	margin: 15px 0;
}

.table a {
	color: black;
}

.users-pic {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
}

@media screen and (max-width: 500px) {
	div.member-pic-div {
		width: 80px;
		height: 80px;
	}
	div.main-block {
		padding: 10px 5px;
	}
	div.userdata-div {
		padding: 0 10px;
	}
}

.table th {
	width: 50%;
}

.load-btn-div {
	display: flex;
	justify-content: center;
}

.loadMore-Btn > a{
	text-decoration: none;
	color: white;
}

.create-activities-btn{
	background-color: #FFE7A2;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
	color: black;
    cursor: pointer;
    padding: 5px 10px;
}

.create-activities-btn > i{
	font-size: 20px;
}