.container-fluid{
    max-width: 1240px;
}

.main-block{
    background-color: #FFCD29;
    width: 100%;
    height: 400px;
}

.login-signup{
    display: flex;
    justify-content: center;
}

.sign-up-panel{
    display: flex;
    flex-direction: column;
}